#wordsNavList {
    list-style-type: none;
    text-align: center;
}

#wordsNavList > li > a {
    display: block;
    text-decoration: none;
    color: #000;
}

#wordsNavList > li > span.score {
    position: absolute;
    bottom: 4px;
    right: 5px;
}