button {
    background-color: cornflowerblue;
    color: rgb(250, 250, 250);
    border: none;
    margin: 2px;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
}

.main {
    width: 100%;
/*
    margin: 0 0 0 15%;
*/
}

.main > ol {
    padding: 5px;
}

.main > ol > li {
    color: rgb(0, 134, 139);
    margin-bottom: 4px;
    padding: 5px;
    list-style-position: inside;
    border: 1px solid rgb(211,211,211);
    border-radius: 5px;
    -webkit-box-shadow: 0 2px rgb(240,240,240);
    -moz-box-shadow:    0 2px rgb(240,240,240);
    box-shadow:         0 2px rgb(240,240,240);
}

li > input {
    display: block;
    width: 100%;
    border-top: none;
    border-right: none;
    border-bottom: 1px dashed rgb(88,88,88);
    border-left: none;
}

summary {
    padding: 5px;
}

summary:hover {
    cursor: pointer;
}

details > p {
    color: green;
}

@media only screen and (max-width: 768px) {
    .main {
        width: 100%;
/*
        margin: 0;
*/
    }
    .main > ol {
        margin-top: 0;
    }
}