.header {
    padding: 10px 0 10px 0;
    background-color: #333;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header > .nav-item {
    padding: 10px 10px 10px 5px;
    color: white;
    text-align: center;
    text-decoration: none;

}

.header > .nav-item:hover:not(span) {
    background-color: #111;
}