.main {
    float: left;
    width: 85%;
    padding: 5px 5px 5px 0;
}

.main > ol > li {
    margin-bottom: 10px;
}

li > input {
    display: block;
    width: 100%;
}

summary {
    padding: 5px;
}

summary:hover {
    cursor: pointer;
}

details > p {
    color: green;
}

@media only screen and (max-width: 768px) {
    .main {
        width: 100%;
    }
}