* {
    box-sizing: border-box;
}

.active {
    background-color: #111;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.header {
    padding: 15px 0 15px 0;
    background-color: #333;
}

.header > a {
    margin: 0;
    padding: 15px 10px 15px 5px;
    color: white;
    text-align: center;
    text-decoration: none;

}

.header > a:hover:not(.active) {
    background-color: #111;
}

.menu {
    float: left;
    width: 15%;
    background-color: rgb(241, 241, 241);
    margin: 0;
    padding-left: 0;
}

.menu > a {
    display: block;
    padding: 5px 5px 5px 15px;
    color: #000;
    text-decoration: none;
}

.menu > a:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.main {
    float: left;
    width: 85%;
    padding: 15px;
}

.main > ol > li {
    list-style-position: inside;
    margin-bottom: 10px;
}

li > input {
    display: block;
    width: 100%;
}

details > p {
    color: green;
}

@media only screen and (max-width: 768px) {
    .header > a {
        display: block;
    }
    .menu, .main {
        width: 100%;
    }
}