* {
    box-sizing: border-box;
}

.active {
    background-color: #111;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

@media only screen and (max-width: 768px) {
    .header > a {
        display: block;
    }
    .menu, .main {
        width: 100%;
    }
}